beer_show:
    path:     /{id}/show
    defaults: { _controller: "BeerScoreBeerBundle:Get:show" }
    methods:  GET

beer_new:
    path:     /new
    defaults: { _controller: "BeerScoreBeerBundle:Create:renderForm" }
    methods:  GET

beer_new_post:
    path:     /new
    defaults: { _controller: "BeerScoreBeerBundle:Create:new" }
    methods:  POST

beer_edit:
    path:     /{id}/edit
    defaults: { _controller: "BeerScoreBeerBundle:RenderEdit:renderForm" }
    methods:  GET

beer_edit_post:
    path:     /{id}/edit
    defaults: { _controller: "BeerScoreBeerBundle:Edit:edit" }
    methods:  POST

beer_delete:
    path:     /{id}/delete
    defaults: { _controller: "BeerScoreBeerBundle:Delete:delete" }
    methods:  DELETE

beer_add_review:
    path:     /{id}/addReview
    defaults: { _controller: "BeerScoreBeerBundle:Beer:addReview" }
    methods:  [GET, POST]
