imports:
    - {resource: '../../../../../../src/Beer/Infrastructure/DependencyInjection/Symfony/services.yml'}
services:
  BeerScore\BeerBundle\Controller\GetAllController:
    class: BeerScore\BeerBundle\Controller\GetAllController
    arguments:
      - '@service_container'
      - '@BeerScore\Beer\Application\Service\GetBeersService'

  BeerScore\BeerBundle\Controller\CreateController:
    class: BeerScore\BeerBundle\Controller\CreateController
    arguments:
      - '@service_container'
      - '@BeerScore\Beer\Application\Service\PostBeerService'

doctrine:
  orm:
    mappings:
      Beer:
        mapping: true
        type: yml
        dir: '%kernel.root_dir%/../../src/Beer/Infrastructure/Persistance/Repository/Doctrine/Mapping'
        prefix: 'BeerScore\Beer\Domain\Model'
        is_bundle: false
