services:
# APPLICATION
  BeerScore\Beer\Application\Service\GetBeersService:
    class: BeerScore\Beer\Application\Service\GetBeersService
    arguments:
      - '@BeerScore\Beer\Infrastructure\Persistance\Repository\Doctrine\BeerRepository'

  BeerScore\Beer\Application\Service\GetBeerService:
    class: BeerScore\Beer\Application\Service\GetBeerService
    arguments:
      - '@BeerScore\Beer\Infrastructure\Persistance\Repository\Doctrine\BeerRepository'

  BeerScore\Beer\Application\Service\PostBeerService:
    class: BeerScore\Beer\Application\Service\PostBeerService
    arguments:
      - '@BeerScore\Beer\Infrastructure\Persistance\Repository\Doctrine\BeerRepository'

  BeerScore\Beer\Application\Service\PutBeerService:
    class: BeerScore\Beer\Application\Service\PutBeerService
    arguments:
      - '@BeerScore\Beer\Infrastructure\Persistance\Repository\Doctrine\BeerRepository'

  BeerScore\Beer\Application\Service\DeleteBeerService:
    class: BeerScore\Beer\Application\Service\DeleteBeerService
    arguments:
      - '@BeerScore\Beer\Infrastructure\Persistance\Repository\Doctrine\BeerRepository'

  BeerScore\Beer\Application\Service\AddReviewService:
    class: BeerScore\Beer\Application\Service\AddReviewService
    arguments:
      - '@BeerScore\Beer\Infrastructure\Persistance\Repository\Doctrine\BeerRepository'

# INFRASTRUCTURE
  BeerScore\Beer\Infrastructure\Persistance\Repository\Doctrine\BeerRepository:
    class: BeerScore\Beer\Infrastructure\Persistance\Repository\Doctrine\BeerRepository
    factory: ["@doctrine", getRepository]
    arguments:
      - 'BeerScore\Beer\Domain\Model\Beer'